/* Flexbox Layout Setup */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

/* Basic structure visuals */
header, footer {
  width: 100%;
  padding: 10px;
  background-color: #eee;
}
